//backgrtound color
$primary: #0092b8;
$secondary: #104e64;
$error-bg: #ffccd3;
$error-title: #8b0836;

// styles added to the global styles
$border-radius: 6px;
$padding-input: 0.75rem;

$primary-color: #0070f3;
$hover-color: #005dc1;
$background-light: #f4f4f4;
$text-color: #ffffff;
$border-radius: 10px;
$shadow-soft: 0 2px 10px rgba(0, 0, 0, 0.1);


$primary-color: #0070f3;
$hover-color: #005dc1;
$background-light: #f4f4f4;
$text-color: #ffffff;
$border-radius: 10px;
$shadow-soft: 0 2px 10px rgba(0, 0, 0, 0.1);
