@use '../../styles/variables.scss' as *;

.containerLogo{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;


  img{
    display: block;
    margin-bottom: 0px;
    width: 200px;
    height: 200px;
}

h2{
  font: 1.5em sans-serif;
  background: linear-gradient(90deg, #179F27, #E96C0C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
  margin-top: -45px;
}

}



.containerLogin {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 4% auto;
  background: #f0f0f0;
  border-radius: $border-radius;

  .container {
    padding: 2rem;
  }

  h3 {
    background-color: #E96C0C;
    color: #fff;
    text-align: center;
    padding: 1rem;
    border-radius: $border-radius  $border-radius 0 0;
  }

  p {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 1rem;
    border-radius: $border-radius;
    background-color: $error-bg;
    font-size: 14px;
    text-align: center;
    color: $error-title;
  }

  button{
    background-color: #179F27;

    &:hover {
    background-color: #128520;
   }
  }

  
}