@use '../../styles//variables.scss' as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;

    button {
        margin: 0.75rem;
    }
}
